#drawer .banner {
  content: url('../media/images/banner.png');
  height: 300px;
}
.article-feature {
  content: url('../media/images/article_feature.jpg');
  height: 240px;
}
.avatar {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 10%;
}
.avatar img {
  width: 100px;
  height: 100px;
}
.tag-container {
  position: fixed;
  top: 10%;
  left: 5%;
}
.toc-actived {
  font-size: 20px;
  color: #212529;
  opacity: 0.8;
}
.post-toc {
  position: fixed;
  top: 10%;
  right: 2%;
}
.markdownIt-TOC {
  height: 400px;
  overflow: auto;
  list-style-type: none !important;
}
.markdownIt-TOC li {
  list-style-type: none !important;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  margin: 16px 0;
  color: #343a40;
}
.post-content a {
  color: #4c6ef5;
  border-bottom: 1px dotted #4c6ef5;
  transition: all 0.3s;
}
.post-content a:hover {
  color: #3b5bdb;
  border-bottom: 1px dotted #3b5bdb;
}
.post-content img {
  display: block;
  box-shadow: 0 2px 5px rgba(0, 0, 25, 0.1), 0 5px 75px 1px rgba(0, 0, 50, 0.2);
  max-width: 100%;
  border-radius: 2px;
  margin: 24px auto;
}
.post-content p {
  line-height: 1.725;
  margin-bottom: 24px;
  font-size: 18px;
  color: #495057;
}
.post-content p code,
.post-content ul code,
.post-content ol code {
  padding: 0 3px;
  margin: 0 2px;
  background: #e9ecef;
  font-size: 0.9em;
  border-radius: 2px;
  border: 1px solid #dee2e6;
  display: inline-block;
  line-height: 1.5;
  color: #868e96;
}
.post-content blockquote {
  background: #e9ecef;
  padding: 16px;
  border-left: 3px solid #7048e8;
  border-radius: 2px;
  margin-bottom: 16px;
}
.post-content blockquote p {
  color: #868e96;
  margin-bottom: 0;
}
.post-content pre {
  margin-bottom: 16px;
}
.post-content pre code {
  font-size: 14px;
  font-family: 'Source Code Pro', Consolas, Menlo, Monaco, 'Courier New', monospace;
  padding: 2em 1em 1em;
  border-radius: 5px;
  line-height: 1.375;
  position: relative;
  background: #343a40;
  color: #f1f3f5;
  display: block;
}
.post-content pre code:after {
  content: 'CODE';
  display: block;
  position: absolute;
  left: 8px;
  top: 4px;
  font-size: 14px;
  font-weight: bold;
  color: #495057;
}
.post-content table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}
.post-content tr {
  border-top: 1px solid #dfe2e5;
}
.post-content td,
.post-content th {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
.post-content ul,
.post-content ol {
  color: var(--c-base-blacklight);
  padding-left: 24px;
  line-height: 1.725;
  margin-bottom: 16px;
}
.post-content strong {
  font-weight: bolder;
}
.post-content em {
  color: #868e96;
}
.post-content hr {
  height: 0;
  border: 2px solid #efefef;
  margin-bottom: 24px;
}
